/* Begining of Styles for Data.html */

.dataPage {
    margin: 0;
    padding: 15px;
    /* border: #c201ac solid 2px; */
    background-color: white;
    display: block;
}

div {
    /* border: solid #c201ac 2px; */
    box-sizing: border-box;
    margin: 2px;
    padding: 10px;
}

.performance {
    display: block;
    background-color: #c201ac;
    color: #000;
}

.performance>h1 {
    text-align: center;
}

.performanceUpdate {
    display: block;
    box-sizing: border-box;
    padding: 20px;
    width: 50%;
    /* border: 2px solid #c201ac; */
}

#form {
    display: block;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    height: 300px;
    width: 100%;
    text-align: center;
    /* border: 2px solid #c201ac; */
    background-color: whitesmoke;
}

#resultsYear {
    width: 100%;
    max-width: 600px;
}

#infoProgress p {
    /* border: #c201ac 2px solid; */
    padding: 20px;
    float: right;
}

#infoProgress {
    display: flex;
    width: 100%;
    height: 500px;
    /* border: #c201ac solid 2px; */
}

#class {
    margin: 10px;
    /*padding: 20px; */
    /* border: #c201ac solid 2px; */
    box-sizing: border-box;
    position: relative;
    color: #000;
    float: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.progressStatus {
    /* border: red solid 2px; */
    height: 600px;
    width: 50%;
    margin: 25px;
    float: right;
}

#pieChart {
    float: right;
    height: 300px;
    width: 300px;
}

#attendance {
    width: 50%;
    height: 300px;
}

.attendance {
    border: #000 solid 2px;
    height: 600px;
    margin-top: 10px;
    float: left;
}

@media only screen and (max-width:600px) {
    .dataPage {
        margin: 0;
        padding: 15px;
        /* border: #c201ac solid 2px; */
        background-color: white;
        display: block;
    }
}


/* End of Styles for data.html */