/*----Test start----*/


/*----NavigationBar----*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

nav {
    background-color: #c201af;
    height: 80px;
    width: 100%;
    line-height: 80px;
    font-family: sans-serif;
    text-align: start;
}

.label-logo {
    color: black;
    font-size: 30px;
    line-height: 100px;
    font-weight: bold;
}

.label-logo strong {
    color: green;
}

nav ul {
    float: right;
    margin-right: 100px;
}

nav ul li {
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
}

nav ul li a {
    color: black;
    font-size: 15px;
    font-weight: 500;
}

li button {
    font-size: 20px;
    background-color: grey;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 20px;
}


/*.nav ul li a:hover{
    transition: .5s;
    color: blue;
    box-shadow: grey;
}*/

.nav-link span:hover {
    transition: .5s;
    color: yellow;
    box-shadow: grey;
}

.img {
    width: 150px;
    height: 80px;
}

.testbar {
    color: #ffff;
}


/*---Test Section---*/

.tab {
    color: blue;
    text-align: start;
    padding: 20px;
    margin: 10px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    border-style: double;
    background-color: #ff99f3;
}

.tab p {
    padding-top: 10px;
    padding-bottom: 10px;
}

#tab-link {
    color: #ff99f3;
}

.tab-link {
    display: inline-block;
    color: #ff99f3;
    text-align: start;
    padding: 10px;
    margin: 10px;
    font-family: sans-serif;
    font-size: 20px;
}

.tab-link li {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    list-style: none;
}

.tab-link ul li a {
    color: #ffff;
    background-color: aliceblue;
    text-decoration: none;
}

.tab-link ul li a:hover {
    color: black;
    background-color: aliceblue;
    text-decoration: none;
}

.btn {
    font-size: 20px;
    background-color: grey;
    border-radius: 3px;
    padding: 10px 20px;
    float: right;
    margin-right: 100px;
    background: #f5f5f5;
    color: #2d3b45;
    border: 1px solid;
    border-color: #c7cdd1;
    margin-bottom: 20px;
    margin-top: 10px;
}

#demo {
    color: #c201af;
}

#muted {
    clear: none;
    font-family: sans-serif;
    font-size: 1em;
}

.nav-wrapper {
    background: black;
}

.container {
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bold;
}

.container a {
    color: white;
}

.center-align {
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
}

.center .btn {
    color: blue;
}

.white-text-green {
    background-color: green;
}

.black-text-green {
    padding: 8px;
}